@import '../../../styles/variables';

.status-wrapper {
    width: 100%;
    max-width: 424px;
    padding-left: 44px;
    padding-right: 24px;
    display: flex;
    justify-content: space-between;
}

.status-icon {
    font-size: 8px;
    height: 8px;
    width:8px;
    line-height: 8px;
    fill: $greenLight;
    margin-right: 8px;
}

.status{
    font-size: $xs;
    color: $green;
    text-transform: uppercase;
}