//colors
$dark: #494E61;
$grayDark: #757B8F;
$white: #fff;
$purple: #7D82F7;
$lightBg: #F2F3F6;
$grayLight: #D4D7E1;
$greenLight: #33CAD4;
$green: #24A1A9;
$red: #EA5885;

//font families
$primary: "Montserrat", sans-serif;

//font sizes
$xs: 12px;
$s: 13px;
$m: 14px;
$l: 15px;
$xl: 21px;

//font weights
$regular: 400;
$semiBold: 600;
$bold: 700;